{{define "template.cmdi"}} {{template "template.header" .}} {{template "template.sidebar" .}}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">Client Side Authentication</div>
        <div class="panel-body">
            <div class="pnl">
                <!-- <span class="subheader">SQL Injection Vulnerability</span> -->
                <p>Hello cmd = {{.cmd}}</p>
                <p>Verify your account to view full profile:</p>
                <div id="alert" style="display: none"></div> 
            </div>
        </div>
    </div>
</div>
<script>
    $("#vrf").on('click', function(){
        var data = $("#otpform").serialize()
        url = "{{.url}}verify"
        $.post(url,data)
        .done(function(res){
            if(res[0].code != 1){
                $("#alert").removeClass("alert alert-success")
                $("#alert").addClass("alert alert-danger")
                $("#alert").html("<p>Wrong OTP</p>")
                $("#alert").show()
                $("#alert").delay(2000).fadeOut();
            }else{
                $("#alert").removeClass("alert alert-danger")
                $("#alert").addClass("alert alert-success")
                $("#alert").html("<p>Account Verified</p>")
                $("#alert").show()
                //$("#alert").delay(2000).fadeOut();
            }
        })
    });
</script>
{{template "template.footer"}} {{ end }}